.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body { 
  padding-top: 90px; 
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.recipeContainer{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 4rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  transition: all 0.2s ease-in-out;
}
.card:hover{
  transform: scale(1.1);
}
.quotes{
  width: 75vw;
}
.card-img-top{
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 470px) {
  .recipeContainer{
    padding: 0;
  }
}